<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>BugTracker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{% static 'icons8-bug-64.png' %}"/>

        <!-- Boostrab installation-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <!-- jquery for bootstrab-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

        
	</head>

    <body>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="/buglist/index">
                <img src="{% static 'icons8-bug-64.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                BugTracker
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/buglist/index">Startseite <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin Bereich</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Über Uns</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="/buglist/NewBug">
                  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Neuen Bug hinzufügen</button>
                </form>
              </div>
          </nav>
          {% if Delete == True %}
            <div class="container-fluid alert alert alert-primary">
            <strong>Bug gelöscht!</strong> Bug erfolgreich gelöscht!
            </div>
          {%endif%}

          <div class="container-fluid">
            
              {% if Changed == 2 %}
        
              {% elif Changed == 1%}
                <div class="alert alert-success">
                    <strong>Erfolgreich!</strong> Bug erfolgreich geändert und gespeichtert!
                </div>
              {% elif Changed == 0%}
                <div class="alert alert-danger alert-danger">
                  <strong>Fehlgeschlagen!</strong> Bug konnte nicht gaändert werden.
                </div>
      
              {% endif %}

          </div>


            <div class="table-responsive"> 
              <table class="table "> 
                <thead> 
                  <tr>
                      <th>id</th>
                      <th>Melder</th> 
                      <th>Kurzbeschreibung</th> 
                      <th>Priorität</th> 
                      <th>Datum</th> 
                      <th>Status</th> 
                   </tr> 
                </thead> 
                <tbody>
                  <!--https://stackoverflow.com/questions/1070398/how-to-set-a-value-of-a-variable-inside-a-template-code--> 
                {% with PRIOHOCH="HOCH"%}
                {%endwith%}
                {% for i in allBugs%}
                <tr>
                    <td><a href="/buglist/ChangeBug?id={{i.id}}">{{i.id}}</a></th>
                    <td>{{i.melder}}</td>
                    <td>{{i.kurzbeschreibung}}</td>
                    {%if i.prio == "Hoch" %}
                      <td class="bg-danger text-white">{{i.prio}}</td>
                    {%elif i.prio == "Mittel" %}
                      <td class="bg-warning text-black">{{i.prio}}</td>
                    {%else%}
                      <td class="bg-success text-white">{{i.prio}}</td>
                    {% endif %}
                    <td>{{i.datum}}</td>
                    <td>{{i.status}}</td>
                </tr>
                {% endfor %}
                    </tbody> 
                   </table> 
                 </div>
            </div>

            <footer class="main-footer">
              <strong>für  rückfragen stehen wir gerne zu verfügung <a href="#">C Grünewald, I Deeb, N Alftayeh</a>.</strong>
              
      
            </footer>
    </body>
	
</html>
